.mainContent {
  width:100%;
}
.container-fluid {
  padding:0px;
}
.displaySection {
  width:96%;
  height:auto;
  margin-left:2%;
}
.options {
  width:90%;
  margin-left: 5%;
  font-size:1.25rem;
}
.options .row div {
  padding-left:0px;
  padding-right:0px;
}
.options label{
  font-size:1.25rem;
}
.results input {
  width:100px;
}
.modelParameters input {
  width: 100px;
}
.controls {
  text-align: center;
  margin:10px;
  display: inline-block;
  margin-left:5%;
}
.metrics {
  margin-left:5%;
}
label {
  margin-right: 0.5rem;
}
.chartContainer, #canvas {
  height:600px;
  max-width:600px;
  display: inline-block;
  position: relative;
  padding: 0px;
  margin-bottom:4rem;
  margin-top:4rem;
  width:40%;
  margin-left:5%;
}
.row {
  margin-top: 10px;
}
.inputLabel, .resultLabel{
  width:100%;
  text-align: right;
  padding-right:10px;
  margin-right:50px;
  font-size:1.25rem;
}