:root {
  --red: rgb(244,78,63);
  --red2: #d14336;
  --red3: #c43f33;
  --tf-orange:rgb(239,108,0);
  --tf-orange-light:rgb(241,134,46);
  --tf-orange-light-fade:rgba(241,134,46,0.5);
  --black: #212529;
  --white: #fefefe;
}
.sorryNoPage {
  height:100vh;
  padding:20px;
  width:100vw;
  top:0px;
  position: fixed;
  z-index: 999999;
  background-color: var(--white);
  display: table; 
  text-align: center;

}
.sorryNoPage div {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  height: 50px;
  top:calc(50% - 25px);
  margin: auto;
  font-size: 3rem;

}
body {
  font-family: 'dosis-medium','open-sans', sans-serif;
  background-color: #fefefe;
}
@font-face{
  font-family: 'dosis-medium';
  src:url('../lib/fonts/Dosis-Medium.ttf');
}
@font-face{
  font-family: 'dosis-light';
  src:url('../lib/fonts/Dosis-Light.ttf');
}
header {
  height:3rem;
  background-color:var(--red);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.15);
  color:white;
  padding:0.25rem;
  padding-left:1rem;
}
header a {
  color:white !important;
  border: none !important;
}
header a:hover{
  text-decoration: none;
}
header h2 {
  display: inline;
  padding: 0 0.5rem 0 0.5rem;
  transition: background-color 0.15s, color 0.15s;
  border-radius:4px;
  line-height: 2.5rem;
}
header h2:hover {
  background-color:white;
  color:var(--red);
}
input {
  text-align: center;
  width: 100px;
  border:none;
  border-bottom: 2px solid rgba(255,98,73,0.5);
  transition: border-bottom 0.2s;
}
input:hover{
  border-bottom: 2px solid rgba(244,78,63,0.8);
}
input:focus {
  border-bottom: 2px solid rgba(244,78,63,1);
}
.btn {
  margin-top:0.5rem;
  margin-right:0.5rem;
}
.btn-primary.disabled {
  background-color: var(--red);
  border-color: var(--red);
}
.btn-primary {
  background-color: var(--red);
  border-color: var(--red);
}
.btn-primary:hover {
  background-color: var(--red2);
  border-color: var(--red2);
}
.btn-primary:active {
  background-color: var(--red3) !important;
  border-color: var(--red3) !important;
}
.btn-primary:focus{
  background-color: var(--red2);
  border-color: var(--red2);
  box-shadow: 0 0 0 .2rem rgba(209,67,54,.5);
}
.btn-primary.disabled:active, .btn-primary.disabled:hover {
    background-color: var(--red);
  border-color: var(--red);
}
.container-fluid a, header a {
  font-family: 'dosis-light';
  color:#42a2e1;
  padding-bottom: 2px;
  border-bottom: 2px solid rgba(66,162,225,0.5);
  transition: color 0.15s, border-bottom 0.15s;
}
.container-fluid a:hover, header a {
  text-decoration: none;
  color:#227cb7;
  border-bottom: 2px solid rgba(66,162,225,1);
}
.link-tf{
  color: var(--tf-orange-light) !important;
  border-bottom: 2px solid var(--tf-orange-light-fade) !important;
}
.link-tf:hover {
  color:var(--tf-orange) !important;
  border-bottom: 2px solid var(--tf-orange) !important;
}
.btn-link {
  
}

table {
  border-top: 2px solid rgb(244,78,63);
  
}
table th {
  padding:0.75rem;
  font-size:1.2rem;
}
table tr {

  text-align: center;
  transition: box-shadow 0.2s;
}
table tr td {
  padding: 0.75rem;
}
table tr:nth-child(even) {
  background-color: var(--red);
  color:var(--white); 
}
table tr:hover {
  box-shadow:0px 4px 8px 1px rgba(0,0,0,0.15);
}
table tr:last-child {
  border-bottom: 2px solid rgb(244,78,63);
}
#popupMessageWrapper {
  position: fixed;
  background-color:rgba(255,255,255,1);
  border-radius:4px;
  width:500px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:200;
  display: none;
}
.popupMessage {
  padding:1rem;
}
.popupMessage p{
  margin-bottom: 0.5rem;
}
#popupTitle {
  border-bottom:2px solid var(--black);
  margin-bottom:1rem;
}
#pageCover {
  background-color:rgba(0,0,0,0.2);
  position: fixed;
  width:100%;
  height:100%;
  z-index:100;
  top:0px;
  display: none;
}
.closeBtn {
  display: inline;
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 2rem;
  padding: 0.25rem;
  width: 2rem;
}